body {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    padding: 20px;
    background-color: tan;
    margin-top: 12px;
}
textarea {
    height: 100px;
}
.book-section {
    background-color: white;
    border: 1px solid lightblue;
    padding: 20px;
    width: 66%;
    margin: auto;
}
.stars {
    font-size: larger;
    font-weight: bold;
}
.names {
    color: gray;
}